.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
}

.modal {
    width: 300px;
    /* line-height: 200px; */
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}
